<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Style sheets -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <!-- Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
    {% block header %}{% endblock %}
    <meta name="google-site-verification" content="QRTFOLSa4eW8P8lz4ttdxySbgrKqQIUDoXF6n_Pd_DQ" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Google Drive Push Notifications Playground</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {# Mark active page by highlighting it #}
              <li{% if state == 'all' %} class="active"{% endif %}><a href="/all">Monitor all changes</a></li>
              <li{% if state == 'specific' %} class="active"{% endif %}><a href="/specific">Monitor specific file</a></li>
            </ul>
            <div class="navbar-form pull-right">
              {# Show login button if there is no credential and vice versa #}
              {% if not login_url %}
              <button class="btn" onclick="window.location.replace('/logout?state={{ state }}');">Log Out</button>
              {% else %}
              <button class="btn" onclick="window.location.replace('{{ login_url|safe }}');">Log In</button>
              {% endif %}
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
