{% extends "base.html" %}

{% block title %}
Google Drive Push Notifications Playground
{% endblock %}

{% block body %}
<div class="container">
  <div class="hero-unit">
    <h1>Push Notifications Playground</h1>
    <!-- First paragraph from overview section of documentation -->
    <p>The Google Drive API provides push notifications that let you watch for changes to resources. You can use this feature to improve the performance of your application. You can use this feature to eliminate the extra network and computing costs of polling resources to find out if they have changed.</p>
    <p>This sample application demonstrates how push notifications in the Google Drive API work. You can use this application to subscribe to all changes to files in your Google Drive, or subscribe to a specific file.</p>
    <p>The source code of this application is available at <a href="https://github.com/googledrive/pushnotifications-playground">Github</a>.</p>
  </div>
</div>
{% endblock %}

